@use "../../../assets/styles/variables" as *;

.form {
  .form-wrapper {
    margin-bottom: (30em/16);

    .requirements {
      display: flex;
      flex-direction: column;
      font-size: (13em/16);

      div {
        margin-top: (7em/13);
      }

      .bool-dot {
        margin-right: (10em/13);
      }

      p {
        font-weight: $medium;
      }
    }
  }
}
