@use "../../assets/styles/variables" as *;

.btn {
	// Size
	&.small {}

	&.middle {}

	&.big {
		padding: (13em/16) (18em/16);
		border-radius: 10px;
		font-size: (16em/16);
	}

	// Modifiers
	&.pointer {
		cursor: pointer;
	}

	&:not(.inline) {
		font-family: $font-secondary;
		transition: box-shadow .15s linear;
	}

	&.inline {
		font-weight: $medium;
		font-size: (14em/16);
	}

	// Colors
	&.btn-green {
		background-color: $color-green;
		color: $color-primary;

		&:hover {
			box-shadow: 0 0 8px 1px #20df7fab;
		}
	}

	&.btn-light {}
}