@use "../../assets/styles/variables" as *;

.eye {
  width: 28px;
  height: 20px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  &:before {
    content: "";
    height: 20px;
    width: 1px;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: $color-theme;
    transform: translateX(-50%) rotate(41deg);
  }

  &.opened:before {
    display: none;
  }
}