$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Lexend Deca', sans-serif;

$color-prim-light: #ffffff;
$color-prim-dark: #224957;
$color-primary: var(--color-primary);

$color-green: #20DF7F;
$color-red: #fd6f6f;

$color-theme-dark: #093545;
$color-theme-light: #E5E5E5;
$color-theme: var(--color-theme);
$color-theme-reverse: var(--color-theme-reverse);

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;