@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@400;500&display=swap');
@import "../../components/buttons/buttons";
@import "./variables";

body {
	font-family: $font-primary;
	color: $color-primary;

	background-color: $color-theme;
}

p {
	margin: 0;
}

.main {
	height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, a, span {
	color: $color-primary;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: $normal;
}

.title, .sub-title {
	font-family: $font-secondary;
}

.always-green {
	color: $color-green;
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
}

.theme-fill {
	fill: $color-theme;
}

.theme-reverse-fill {
	fill: $color-theme-reverse
}
