@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 34, 73, 87; /* #224957 */
		--color-theme: 229, 229, 229; /* #e5e5e5 */
		--color-theme-reverse: 9, 53, 69; /* #093545 */
	}

	[data-theme="dark"] {
		--color-primary: 255, 255, 255; /* #ffffff */
		--color-theme: 9, 53, 69; /* #093545 */
		--color-theme-reverse: 229, 229, 229; /* #e5e5e5 */
	}

	body {
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		@apply bg-theme h-screen;
	}

	/* Redefine browser background color for autofilled input */
	.theme-autofill:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 50px rgb(var(--color-theme-reverse)) inset !important;
		-webkit-text-fill-color: rgb(var(--color-theme)) !important;
	}
}
