@import "variables";

body {
	&[data-theme="dark"] {
		.btn-green {
			color: white;
		}
	}
}


.btn-green {
	background-color: $color-green;
	color: $color-primary;

	&:hover {
		box-shadow: 0 0 8px 1px #20df7fab;
	}
}