$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Lexend Deca', sans-serif;

$color-primary: #224957;
$color-green: #20DF7F;
$color-red: #fd6f6f;

$theme-light: #E5E5E5;
$theme-dark: #093545;

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;