@use "../../assets/styles/variables" as *;

.input-wrapper {
  margin-bottom: (30em/16);
  position: relative;

  .bool-dot {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
  }

  .form-control {
    padding: (14em/14) (18em/14);
    border-radius: 10px;
    border: none;
    transition: box-shadow .15s linear;
    background-color: $color-primary;
    color: $color-theme;
    font-family: $font-secondary;
    font-size: (14em/16);

    &:hover,
    &:focus {
      box-shadow: 1px 1px 10px #4a4a4a;
    }

    &:-webkit-autofill { // Redefine browser bgc for input
      -webkit-box-shadow: 0 0 0 50px $color-prim-dark inset;
      -webkit-text-fill-color: #FFFFFF;
    }
  }

  .eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}